.header-content_logo {
  /*not used */
  /*TODO  */
  min-width: fit-content;
}
.header-content_logo img {
  width: 4rem;
  margin-right: 0.4rem;
}
.header-content_logo > div {
  display: flex;
  align-items: center;
}
.header-content_logo span {
  font-size: 3rem;
  color: brown;
  font-weight: 900;
}
.content-logo img {
  width: 1.5rem;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0.5rem 0 0 0;
  height: 100vh;
}

.header-img {
  width: 100%;
  align-self: center;
}

.header-content {
  display: flex;
  flex-direction: column;
}

.content-main {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  padding-right: 2rem;
  color: brown;
}

.content-main h1 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

.content-main button {
  background: brown;
  color: #fff;
  width: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 3.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  cursor: pointer;
  margin-top: 1rem;
}

.content-main p {
  font-weight: 800;
}

@media (max-width: 768px) {
  .content-main h1 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  .content-main p {
    font-size: 0.8rem;
  }
  .content-main button {
    font-size: 0.8rem;
    width: 150px;
    padding: 0.5rem 1rem;
    margin-top: 1.5rem;
  }
}
